<div style="align-content: center;" >
  <form method="POST" style="position: static; align-content: center; padding-left:500px;" action="/forgot" class='col-1 text-center '>
    
    <label for='email'>Email:</label>
    <input type="text" name="email" placeholder="email">
   
    <input style="margin-top: 20px;  margin-bottom: 50px;" type="submit" value="Send email">
  </form>
</div>