<form method="POST" action="/products" class='col-1 text-center'>
  <label for='nameP'>Product Name:</label>
  <input type="text" name="nameP" placeholder="nameP">
  <label for='pic'>pic:</label>
  <input type="text" name="pic" placeholder="pic">
  <label for='category'>category:</label>
  <input type="text" name="category" placeholder="category">
  <label for='price'>price</label>
  <input type="number" name="price" placeholder="price">
  <label for='description'>description</label>
  <input type="text" name="description" placeholder="description">
  <input type="submit" value="newPro">
</form>