<form method="POST" action='/reset' class='col-1 text-center'>
  <label for='email'>Email:</label>
  <input type="text" name="email" placeholder="email">
  <label for='password'>Password:</label>
  <input type="password" name="password" placeholder="password">




  <input type="submit" value="Submit">
</form>