<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="cart.js"></script>

<form id="sharePage" action="/blog" class="form" method="POST" style="height: 500px; padding-left: 500px; ">

    <div class="input-group" style="width: 300px; height: 150px;">
        <span class="input-group-text">Type Your Message</span>
        <textarea style="width: 300px; height: 150px;"name="message" class="form-control" aria-label="With textarea"></textarea>
      </div>
    <div>
        <label>Add URL Plants Image Here :</label>
    </div>
    <input class="" name="img" type="text">
    <div>


        <input class="btn btn-outline-success" type="submit" value="SHARE">

    </div>

</form>